.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  /* background-color: rgb(245, 245, 245); */
  /* overflow: hidden; */
}

.search-and-result {
  display: flex;
  margin-top: 20px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* min-height: 310px;
  min-width: 620px; */
}

.search-result {
  /* border-left: rgb(136, 136, 136) solid 1px; */
  /* padding-left: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  max-width: 250px;
}

.search-success {
  display: flex;
  flex-direction: column;
}

.search-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-items {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.food-item {
  max-height: 40px;
  min-width: 340px;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  /* border: 1px #00000059 solid; */
  box-shadow: rgba(0, 0, 0, 0.151) 2px 2px 2px 2px;
  align-items: center;
  /* border-radius: 10px; */
  padding: 0 10px;
  margin-bottom: 6px;
  background-color: #ffffff;
}

.food-item-calories {
  margin-top: 16px;
}

.food-item > .delete-icon {
  cursor: pointer;
  height: 30px;
  width: auto;
  color: rgb(199, 23, 23);
}

.tooltip-homemade {
  position: relative;
  cursor: help;
}

.info-icon {
  width: 25px;
  height: auto;
  color: #198754;
}

.tooltip-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px #198754 solid;
  background-color: white;
  /* border-radius: 8px; */
  left: 25px;
  z-index: 1;
  padding: 0 5px;
  visibility: hidden;
  width: 150px;
}

.tooltip-homemade:hover .tooltip-text {
  visibility: visible;
}

* {
  /* border: red 1px solid; */
}

.total-and-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  flex: 1 1 auto;
  

  /* align-items: center; */
  /* border-top: black solid 1px; */
  /* justify-content: flex-end; */
  /* min-width: 670px; */
  /* border: red solid 1px; */
}

.total {
  display: flex;
  flex-direction: column;
  /* border: #0000003d solid 1px; */
  box-shadow: rgba(0, 0, 0, 0.144) 2px 2px 3px 3px;
  padding: 8px;
  margin: 0 20px;
  /* border-radius: 8px; */
  height: 310px;
  flex: 1 0 auto;
  min-width: 200px;
  background-color: white;
  justify-content: space-between;
}

.total h3 {
  text-align: center;
}

hr {
  /* border-top: 3px solid black; */
  margin-top: 20px;
  margin-bottom: 20px;
}

tr:nth-child(odd) {
  background-color: #a4dbad50;
}

table td {
  text-align: right;
  padding-right: 6px;
}

table {
  margin-bottom: 8px;
}

table th {
  text-align: left;
  padding-left: 6px;
}